name: Main workflow

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: us-east-1
  LOCAL_VERSION_NUMBER_FILE: build_version.txt
  CONTENTFUL_SPACE_ID: ${{ secrets.CONTENTFUL_SPACE_ID }}
  CONTENTFUL_ACCESS_TOKEN: ${{ secrets.CONTENTFUL_ACCESS_TOKEN }}

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 15.x, 16.x]

    steps:
    - name: Check out the repository
      uses: actions/checkout@v2.3.4

    - name: Set up Node.js environment
      uses: actions/setup-node@v2.1.5
      with:
        node-version: ${{ matrix.node-version }}

    - name: Determine the project’s version
      id: version
      uses: anttikivi/maintain-revision@v0.10.1
      with:
        type: npm

    - name: Get Yarn cache directory path
      id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn cache dir)"

    - name: Cache dependencies
      uses: actions/cache@v2.1.5
      id: yarn-cache
      with:
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-

    - name: Install dependencies
      run: yarn install --frozen-lockfile

    - name: Run checks
      run: yarn ci-check

    - name: Check types
      run: yarn type-check

    - name: Run tests
      run: yarn test

  build:
    name: Build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x, 15.x, 16.x]

    steps:
    - name: Check out the repository
      uses: actions/checkout@v2.3.4

    - name: Set up Node.js environment
      uses: actions/setup-node@v2.1.5
      with:
        node-version: ${{ matrix.node-version }}

    - name: Determine the project’s version
      id: version
      uses: anttikivi/maintain-revision@v0.10.1
      with:
        type: npm
        upload: false

    - name: Get Yarn cache directory path
      id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn cache dir)"

    - name: Cache dependencies
      uses: actions/cache@v2.1.5
      id: yarn-cache
      with:
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-

    - name: Install dependencies
      run: yarn install --frozen-lockfile

    - name: Build
      run: yarn build --verbose

  lighthouse:
    name: Lighthouse
    needs: [build, check]
    runs-on: ubuntu-latest

    env:
      LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}

    steps:
    - name: Check out the repository
      uses: actions/checkout@v2.3.4

    - name: Set up Node.js environment
      uses: actions/setup-node@v2.1.5
      with:
        node-version: 14.x

    - name: Determine the project’s version
      id: version
      uses: anttikivi/maintain-revision@v0.10.1
      with:
        type: npm
        upload: false

    - name: Get Yarn cache directory path
      id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn cache dir)"

    - name: Cache dependencies
      uses: actions/cache@v2.1.5
      id: yarn-cache
      with:
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-

    - name: Install dependencies
      run: yarn install --frozen-lockfile

    - name: Build
      run: yarn build --verbose

    - name: Install Lighthouse
      run: npm install -g @lhci/cli@0.7.x

    - name: Run Lighthouse
      run: lhci autorun
